BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never        # spaces no tabs
BreakBeforeBraces: Attach
IndentCaseLabels: true            # cases indented
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 0       # do not break lines

